html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */
body {
    background-color: var(--primario);      /* fondo */
    font-size: 1.6rem;
    line-height: 1.5;       /* interlineado */
}


h1,
h2,
h3 {
    text-align: center;  /* texto centrado */
    color: black;
    font-family: Arial, Helvetica, sans-serif;   /* tipo de letra */
}


h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

.resultado {
    display: block;
    background-color: azure;
    margin: 1rem;
    height: 10rem;
    font-size: 4rem;
    padding: 1rem, 5rem;
    border: 0.2rem solid black;
    border-radius: 1.2rem;
   

}

.contenedor {
    background-color: aqua;
    width: 100%;

}


.sombra {
    box-shadow: 0px 5px 15px 0px rgba(97, 97, 97, 1);
   
    padding: 2rem;
    border-radius: 1rem;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.row_igual {
    grid-template-columns: 4fr;
}

.btn {
    background-color: green;
    color: white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: .5rem;
    width: 60%;
    text-align: center;
    border: none;
}

.btn_op{
    background-color: rgb(74, 56, 230);
    color: white;
}

.btn:hover {
    /* cuando se coloca el puntero encima */
    cursor: pointer;
}